.header {
  align-items: center;
  background-color: #031529;
  color: #DFEBF7;
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  justify-content: center;
  
  .navigation {
    .menu {
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .menu__item {
        .menu__link {
          align-items: center;
          display: flex;
          height: 3rem;
          justify-content: center;
          text-transform: capitalize;
          width: 6rem;
        }
        :before{
          content: "#";
        }
      }
      :hover{
        text-decoration: underline;
      }
    }
  }
}
