.paragraph{
  margin: auto;
  max-width: 60rem;

  padding: 1.5rem 6rem;
  color: #222222;
  background-color: aliceblue;

  h2{

    padding: 1rem 0;
    font-family:'Times New Roman', Times, serif;
  }

  p{
    padding: 1rem 0;
    max-width: 40rem;
  }
}