.paragraph{
  color: #DFEBF7;
  // border: 1px solid #ececec;
  margin: auto;
  max-width: 50rem;
  padding: .5rem 0;

  .title{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 1rem 2rem;
    font-size: 2rem;
  }
  .body{
    padding: 2rem;
    background-color: #031529;
  }
}