.paragraph{
  background-color: aliceblue;
  border: 1px solid #ececec;
  color: #222222;
  margin: auto;
  max-width: 60rem;
  padding: 1.5rem 6rem;
  h2{
    font-family:'Times New Roman', Times, serif;
    padding: 1rem 0;
  }
  p{
    max-width: 40rem;
    padding: 1rem 0;
  }
}